body {
  padding-top: 50px;
  font-family: 'Vollkorn', serif;
  font-size: 20px;
  color: black;
}

.well {
  background: forestgreen;
}

.well.tally {
	background: blue;
}

.dataHook{
	color: black;
}

#timer{
	margin-top:1%;
	border-radius:25px;
	font-size: 100px;
}

.hideThis {
      display: none;
}

#searchTerm{
	width: 80%;
}

div{
	border-radius:25px;
}

#output{
	margin-top:1%;
	border-radius:25px;
}
